* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-image: url(https://ik.imagekit.io/4z8covdo9/Full%20stack/todolistbg.png?updatedAt=1700761069523); 
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.container {
   width: 320px;
}
h1,h2,p{
    color: white;
}
h1 {
    font-size: 1.8rem;
    margin-bottom: 10px;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 15px;
}

p {
    font-size: 1rem;
    margin-bottom: 20px;
    line-height: 1.5;
}

.start-btn {
    background-color: #f1a545; 
    color: white;
    border: none;
    padding: 12px 25px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.start-btn:hover {
    background-color: #d58d3c;
}

.skip-intro {
    font-size: 0.85rem;
    color: #ddd;
    text-decoration: underline;
    cursor: pointer;
    margin-top: 10px;
}

.skip-intro:hover {
    color: #fff;
}
